@model w6.Models.PersonaListaViewModel



<div class="box">
            <div class="box-header">
              <h3 class="box-title">Lista Personale</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody><tr>
                  <th style="width: 10px">Id</th>
                  <th>Nome Completo</th>
                  <th>Inserimento</th>
                  <th>Documento</th>
                  <th>Servizi Sociali</th>
                  <th>Tutore</th>
                  <th>Tessera Sanitaria</th>
                  <th>Codice STP</th>
                  <th>Dimissione</th>
                  <th>Allontanamento</th>
                  <th>Inserimento</th>
                  <th>Effettua Dimissione</th>
                </tr>
                @foreach (var item in Model.Persone)
                {
                     <tr>
                        <td>@item.Id</td>
                        <td>
                            <a href="@Url.Action("Info", "Persone", new { id = item.Id }  )">@item.FullName</a>
                             
                        </td>
                        <td>@item.Inserimento</td>
                        <td>@item.Documento</td>
                        <td>@item.Servizi</td>
                        <td>@item.Tutore</td>
                        <td>@item.Sanitario</td>
                        <td>@item.Stp</td> 
                        <td>@item.Dimissione</td>
                        <td align="center"><button style="font-size:24px"> 🏃 <i class="fas fa-running" aria-hidden="true"></i></button></td>
                        <td align="center"><button style="font-size:24px"> 🆕 <i class="fas fa-running" aria-hidden="true"></i></button></td>
                        <td align="center"><button style="font-size:24px"> 🔚 <i class="fas fa-running" aria-hidden="true"></i></button></td>
                       
                     </tr>
                }
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>